<header>
	<!-- Header -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="p30-15" style="padding: 40px 0px 20px 0px">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th
							class="column-top"
							width="200"
							style="
															font-size: 0pt;
															line-height: 0pt;
															padding: 0;
															margin: 0;
															font-weight: normal;
															vertical-align: top;
														"
						>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td
										class="text-top m-center mpb5"
										style="
																		color: #9babdb;
																		font-family: 'Times New Roman', Georgia,
																			serif;
																		font-size: 11px;
																		line-height: 22px;
																		text-align: left;
																		text-transform: uppercase;
																	"
									>
										<multiline>Follow Us:</multiline>
									</td>
								</tr>
							</table>
						</th>
						<th
							class="column-top"
							style="
															font-size: 0pt;
															line-height: 0pt;
															padding: 0;
															margin: 0;
															font-weight: normal;
															vertical-align: top;
														"
						>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td align="right">
										<table
											class="center"
											border="0"
											cellspacing="0"
											cellpadding="0"
											style="text-align: center"
										>
											<tr>
												<td
													class="img"
													width="32"
													style="
																					font-size: 0pt;
																					line-height: 0pt;
																					text-align: left;
																				"
												>
													<a href="#" target="_blank"><img
															src="https://handy-links.com/chat-ctivities-img/emails/expired/free_ico_facebook.jpg"
															width="14"
															height="13"
															border="0"
															alt=""
														/></a>
												</td>
												<td
													class="img"
													width="32"
													style="
																					font-size: 0pt;
																					line-height: 0pt;
																					text-align: left;
																				"
												>
													<a href="#" target="_blank"><img
															src="https://handy-links.com/chat-ctivities-img/emails/expired/free_ico_twitter.jpg"
															width="14"
															height="13"
															border="0"
															alt=""
														/></a>
												</td>
												<td
													class="img"
													width="32"
													style="
																					font-size: 0pt;
																					line-height: 0pt;
																					text-align: left;
																				"
												>
													<a href="#" target="_blank"><img
															src="https://handy-links.com/chat-ctivities-img/emails/expired/free_ico_pinterest.jpg"
															width="14"
															height="13"
															border="0"
															alt=""
														/></a>
												</td>
												<td
													class="img"
													width="14"
													style="
																					font-size: 0pt;
																					line-height: 0pt;
																					text-align: left;
																				"
												>
													<a href="#" target="_blank"><img
															src="https://handy-links.com/chat-ctivities-img/emails/expired/free_ico_instagram.jpg"
															width="14"
															height="13"
															border="0"
															alt=""
														/></a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</th>
					</tr>
				</table>
			</td>
		</tr>
		<!-- END Top bar -->
		<!-- Logo -->
		<tr>
			<td
				bgcolor="#ffffff"
				class="p30-15 img-center"
				style="
												padding: 30px;
												border-radius: 20px 20px 0px 0px;
												font-size: 0pt;
												line-height: 0pt;
												text-align: center;
											"
			>
				<a href="#" target="_blank"><img
						src="https://handy-links.com/chat-ctivities-img/emails/expired/chatCtivitiesLogo.png"
						width="250"
						height="100%"
						border="0"
						alt=""
					/></a>
			</td>
		</tr>
		<!-- END Logo -->
	</table>
	<!-- END Header -->
</header>